body {
    font-family: Arial, sans-serif;
    background-color: #FF8C9E;
    margin: 0;
    padding: 0;
    
}
.contact-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #8C3061;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 20px 0px 0px 690px;
  }
  
  .contact-button:hover {
    background-color: #FF8C9E;
  }
  
  .contact-button:active {
    background-color: #fff;
  }

.contact-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
   height: 400px;
    width: 100%;
    margin-top: 60px;
   
}

.image-container {
    flex: 1;
    padding-right: 20px;
}

.image-container img {
    width: 400px;
    border-radius: 50%;
    border: 5px solid #8C3061;
}

.address-container {
    flex: 1;
    padding-left: 20px;
}

.address-container h2 {
    margin-bottom: 15px;
    color: #333;
    font-size: 38px;
}

.address-container p {
    margin: 5px 0;
    line-height: 1.6;
    color: #555;
    
}