body {
    font-family: Arial, sans-serif;
    background-color: #FF8C9E;
    margin: 0;
    padding: 0;
}
.but-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.contact-button {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    background-color: #8C3061;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color  0.3s ease;
}

.contact-button:hover {
    background-color: #FF8C9E;
}

.contact-button:active {
    background-color: #fff;
}

.contact-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 60px auto;
    flex-direction: row;
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img{
    width: 100%;
    max-width: 400px;
    border-radius: 50%;
    border: 5px solid #8C3061;
}

.address-container {
    text-align: center;
}

.address-container h2 {
    margin-bottom: 15px;
    color: #333;
    font-size: 38px;
}

.address-container p {
    margin: 5px 0;
    line-height: 1.6;
    color: #131313;
    font-size: 20px;
}

@media (min-width: 768px) {
    .contact-container {
        flex-direction: column;
        height: auto; 
    }
    .image-container, .address-container {
        text-align: left;
        margin-bottom: 0; 
    }
}

@media (max-width: 480px) {
    .contact-container {
        flex-direction: column;
        height: auto; 
    }
    .address-container h2 {
        font-size: 28px;
    }
    .address-container p {
        font-size: 14px;
    }
    .image-container img {
        max-width: 300px;
    }
}
