* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #0f0f0f;
    background: #FF8C9E;
}

.login-logo {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: #8C3061;
    color: #fff;
    font-size: 60px;
    text-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%; 
    transform: translateX(100px);
}

.field {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px; 
}

.name,
.mobile {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: 4px 4px 4px #8C3061;
    background-color: #fff;
}

.name input,
.mobile input {
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    color: #555;
    padding: 20px 15px; 
    width: 100%;
    border-radius: 25px;
}

.signin-button {
    width: 100%;
    max-width: 400px;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #8C3061;
    box-shadow: 4px 4px 4px #8C3061;
    transition: all 0.5s;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.signin-button:hover {
    background: #FF8C9E;
}

.signin-button:active {
    background-color: #ed4b10;
}

.glow-text {
    width: 80%;
    max-width: 800px;
    font-size: 24px;
    color: #8C3061;
    padding: 20px;
    font-weight: bold;
    text-shadow: 0 0 5px #8C3061, 0 0 10px #8C3061, 0 0 15px #8C3061, 0 0 20px #8C3061;
    animation: glow 0.2s ease-in-out infinite alternate;
    margin: 20px auto;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 5px #91DDCF, 0 0 10px #FFE9D0, 0 0 15px #FF76CE, 0 0 20px #8C3061;
    }
    100% {
        text-shadow: 0 0 10px #91DDCF, 0 0 20px #FFE9D0, 0 0 30px #FF76CE, 0 0 40px #8C3061;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    flex-wrap: wrap;
}

.social-button {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 5px;
    overflow: hidden;
    background-color: #fff;
    color: #FF0000;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    text-decoration: none;
    position: relative;
}

.social-button:hover {
    width: 200px;
}

.social-button .icon {
    display: inline-block;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
    position: absolute;
    left: 0;
}

.social-button:hover .icon {
    background: #FF0000;
}

.social-button:hover .icon i {
    color: #fff;
    transition: all 0.3s ease-out;
}

.social-button span {
    font-size: 20px;
    font-weight: 600;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
    color: #FF0000;
    position: absolute;
    left: 60px;
    opacity: 0;
}

.social-button:hover span {
    transform: translateX(25px);
    opacity: 1;
}

.copy {
    font-size: 10px;
    color: black;
    text-align: center;
    margin: 20px 0;
}
@media (max-width: 768px) {
    .field {
        width: 80%;
        order: 2;
    }
    .glow-text{
        order: 1;
    }
    .box{
        flex-direction: column;
        transform: translateX(0px);
    }
}

@media (max-width: 480px) {
    .field {
        width: 90%;
        order: 2;
    }
    .glow-text{
        order: 1;
    }
    .box{
        flex-direction: column;
        transform: translateX(0px);
    }

}
