@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ff8c9e;
}

.header .logo {
  width: 30px;
  height: auto;
  margin: 20px;
  padding: 10px;
}

.button-container {
  text-align: center;
}

.contact-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background-color: #8c3061;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #ff8c9e;
}

.contact-button:active {
  background-color: #fff;
}

.header .main {
  font-size: 44px;
  font-weight: 100;
  border-radius: 13px;
  max-width: 640px;
  margin: 0 auto;
  padding: 10px;
  color: #8c3061;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #ff8c9e;
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 500px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  background-color: #ff8c9e;
}

.slide {
  display: flex;
  width: 600%;
  height: 100%;
  transition: margin-left 2s ease;
}

.slide input {
  display: none;
}

.st {
  width: 20%;
  transition: transform 2s;
}

.st img {
  width: 100%;
}

.nav-m {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.m-btn {
  border: 3px solid rgb(10, 10, 10);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s;
}

.m-btn:not(:last-child) {
  margin-right: 10px;
}

.m-btn:hover {
  background-color: hsl(0, 80%, 46%);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}

#radio6:checked ~ .first {
  margin-left: -100%;
}

.nav-auto {
  position: absolute;
  width: 100%;
  bottom: 30px;
  display: flex;
  justify-content: center;
}

.nav-auto .div {
  border: 2px solid #ff8c9e;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.5s;
}

.nav-auto .div:not(:last-child) {
  margin-right: 10px;
}

#radio1:checked ~ .nav-auto .a-b1 {
  background-color: #ff8c9e;
}

#radio2:checked ~ .nav-auto .a-b2 {
  background-color: #ff8c9e;
}

#radio3:checked ~ .nav-auto .a-b3 {
  background-color: #ff8c9e;
}

#radio4:checked ~ .nav-auto .a-b4 {
  background-color: #ff8c9e;
}

#radio5:checked ~ .nav-auto .a-b5 {
  background-color: #ff8c9e;
}

#radio6:checked ~ .nav-auto .a-b6 {
  background-color: #ff8c9e;
}

.front {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px 0;
}

.front .image img {
  height: 150px;
  width: 150px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.9);
  margin: 0px 40px;
  border-radius: 20%;
}

.front .image p {
  font-size: 15px;
  color: black;
  font-weight: 800;
}

.front .page p {
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin: 0px 40px;
}

.front .page p span {
  font-size: 38px;
  font-weight: 700;
  color: #8c3061;
}

.box1 p {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  width: 100%;
  padding: 20px;
  background-image: url("picture/bg7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.box1 p span {
  color: #8c3061;
  font-size: 26px;
  background: #f5eded;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}

.photo .first,
.photo .second,
.photo .third,
.photo .fourth {
  border: 1px solid black;
  display: flex;
}

.photo p {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  padding-top: 40px;
  width: 40%;
}

.photo .image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.photo .image img {
  height: 200px;
  width: 300px;
  border: 1px solid black;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.9);
  margin: 10px;
  flex-direction: column;
  align-items: center;
}
.gallery {
  background: #ff8c9e;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.9);
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  margin-left: 100px;
  margin-top: 20px;
  text-align: center;
}
.social-button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 5px;
  overflow: hidden;
  background-color: #fff;
  color: #FF0000;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
  text-decoration: none;
  position: relative;
}

.social-button:hover {
  width: 200px;
}

.social-button .icon {
  display: inline-block;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
  position: absolute;
  left: 0;
}

.social-button:hover .icon {
  background: #FF0000;
}
.social-button:hover .icon i {
  color: #fff;
  transition: all 0.3s ease-out;
}

.social-button span {
  font-size: 20px;
  font-weight: 600;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
  color: #FF0000;
  position: absolute;
  left: 60px;
  opacity: 0;
}

.social-button:hover span {
  transform: translateX(25px);
  opacity: 1;
}
.gallery:hover {
  background-color: #6c0345;
  transform: translateY(-5px);
  box-shadow: 0.5px 10px rgba(0, 0, 0, 0.2);
}

.gallery:active {
  background-color: #4caf50;
  transform: translateY(5px);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}

.hidden-images {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.post {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding-top: 20px;
  width: 100%;
  height: 200px;
}

.post .post1,
.post .post2,
.post .post3 {
  text-align: center;
  height: 80px;
  width: 200px;
  border-radius: 20px;
  background-color: #ff8c9e;
  padding-top: 10px;
}

.post .post1 {
  margin-left: 20px;
  font-size: 24px;
  box-shadow: 0 3px 3px 1px;
}

.post .post2 {
  margin-left: 20px;
  font-size: 24px;
  box-shadow: 0 3px 3px 1px;
}

.post .post3 {
  margin-right: 20px;
  font-size: 24px;
  box-shadow: 0 3px 3px 1px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #ff8c9e;
  color: #8c3061;
}

.footer p {
  font-size: 34px;
  font-weight: 900;
}

.footer .copy {
  font-size: 18px;
  color: rgb(8, 8, 8);
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .slider {
    width: 90%;
    height: 400px;
  }

  .slider .st {
    width: 33.33%;
  }

  .front .image img {
    height: 100px;
    width: 100px;
    margin: 10px 20px;
  }

  .post {
    flex-direction: column;
    height: auto;
  }

  .post .post1,
  .post .post2,
  .post .post3 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .footer p {
    font-size: 28px;
  }

  .gallery {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px;
  }

  .header .main {
    font-size: 34px;
  }

  .slider {
    width: 100%;
    height: 300px;
  }

  .slider .st {
    width: 50%;
  }

  .front .image img {
    height: 80px;
    width: 80px;
  }

  .post .post1,
  .post .post2,
  .post .post3 {
    width: 90%;
  }
  .front{
    flex-direction: column;
    gap: 10px;
  }
  .page{
    order:2;
  }
  .footer p {
    font-size: 24px;
  }
  .post {
    flex-direction: column;
    align-items: center;
    text-align: center; 
  }
  .first, .second, .third, .fourth{
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .header .main {
    font-size: 28px;
  }

  .slider {
    height: 200px;
  }

  .slider .st {
    width: 100%;
  }
  .front{
    flex-direction: column;
    gap: 10px;
  }
  .page{
    order:2;
  }
  .front .image img {
    height: 60px;
    width: 60px;
  }
  .footer p {
    font-size: 20px;
  }
  .post {
    flex-direction: column;
    align-items: center;
    text-align: center; 
  }
  .first, .second, .third, .fourth{
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
}
